// ----- base styles

@import '@gik/core/styles/base/vars.scss';
@import '@gik/core/styles/base/bem.scss';
@import '@gik/core/styles/fonts/presets.scss'; // Font style presets
@import '@gik/core/styles/helpers/index.scss';
@import '@gik/core/styles/base/br.scss';
@import '@gik/core/styles/base/lists.scss';
@import '@gik/core/styles/base/colors.scss';
@import '@gik/core/styles/base/typography.scss';
@import '@gik/core/styles/base/error.scss';
@import '@gik/core/styles/base/article.scss';
@import '@gik/core/styles/base/browser.scss';
@import '@gik/core/styles/base/document.scss';

@import '@gik/core/styles/animations/fade.scss'; // IcoMoon icons

// ----- FontIcons

@import '@gik/core/styles/fonts/giveinkind-v2.scss'; // IcoMoon icons

// ----- effects/animations

@import '@gik/core/styles/effects/barberpole.scss';
@import '@gik/core/styles/effects/skeleton-animation.scss';

// ----- Third party styles

// ----- Default values

.#{$gik-prefix}defaults {
  @apply tw-text-neutral-900;
  @apply tw-font-body;
  @apply tw-tracking-normal;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
  @apply gik-defaults;
}

html,
body {
  min-height: 100%;
}
