@use "sass:list";

// if we ever need those colors in more places other than here we can consider moving only the brand ones to tailwind (indexes 2 and 5)
$amazon-shades: #ffebce #fd9d0c #e48d0b #ca7e0a white;
$paypal-shades: #fef2cf #f9bc0f #e0a90e #c7960c #002681;

$blockName: 'gik-button';

@mixin button-variants($name, $palette) {
  // FIXME: have to declare the variable for all selectors
  // due to CSS scope. Try to find a better way of doing this
  &--#{$name},
  &--#{$name}-outline,
  &--#{$name}-plain,
  &--#{$name}-link,
  &--#{$name}-inverted {
    @if (type-of($palette) == 'list') {
      --shade-100: #{list.nth($palette, 1)};
      --shade-500: #{list.nth($palette, 2)};
      --shade-600: #{list.nth($palette, 3)};
      --shade-700: #{list.nth($palette, 4)};
      --shade-text: #{list.nth($palette, 5)};
    } @else {
      --shade-100: theme('colors.#{$palette}.100');
      --shade-500: theme('colors.#{$palette}.500');
      --shade-600: theme('colors.#{$palette}.600');
      --shade-700: theme('colors.#{$palette}.700');
      --shade-text: theme('colors.white');
    }
  }
  &--#{$name} {
    --color: var(--shade-text);
    --border-color: var(--color);
    --bg: var(--shade-500);
    --bg-alt: var(--shade-600); // used with barberpole effect
    --bg-hover: var(--shade-600);
    --bg-active: var(--shade-700);

    &.#{$blockName}--active {
      --color: var(--shade-100);
      background-color: var(--bg-active);
      border-color: var(--bg-active);
    }
  }

  &--#{$name}-outline,
  &--#{$name}-plain,
  &--#{$name}-inverted {
    --color: var(--shade-500);
    --color-hover: var(--shade-600);

    &:not(.#{$blockName}--disabled):not(.#{$blockName}--loading):not(.#{$blockName}--hover):not(.#{$blockName}--active):hover,
    &.#{$blockName}--hover {
      --color: var(--color-hover);
    }
  }

  &--#{$name}-outline {
    --border-color: var(--color);
    --border-color-hover: var(--color-hover);
    border: var(--border-size) solid var(--border-color);

    &:not(.#{$blockName}--disabled):not(.#{$blockName}--loading):not(.#{$blockName}--hover):not(.#{$blockName}--active):hover,
    &.#{$blockName}--hover {
      border: var(--border-size) solid var(--border-color-hover);
    }
  }

  &--#{$name}-link {
    @apply tw-p-0 tw-rounded-none tw-h-auto tw-border-none;
    vertical-align: inherit;
    text-transform: none;

    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;

    > * {
      @apply tw-m-0;
    }

    --color: var(--shade-600);
    --color-hover: var(--shade-600);

    &:not(.#{$blockName}--disabled):not(.#{$blockName}--loading):not(.#{$blockName}--hover):not(.#{$blockName}--active):hover,
    &.#{$blockName}--hover {
      @apply tw-underline;
      --color: var(--color-hover);
    }
  }
}

.#{$blockName} {
  --bg: transparent;
  --color: #fff;
  --bg-hover: transparent;
  --bg-active: transparent;
  --border-size: 2px;

  @apply tw-flex-shrink-0 tw-select-none gik-no-tap-effect;
  // ----- Elements

  &__content {
    @apply tw-inline-flex;
  }

  // space between contents
  > * + * {
    @apply tw-ml-1 tw-mr-1;
  }

  > * {
    @apply tw-align-middle;
  }

  > .tw-fonticon {
    @apply tw-inline-flex tw-leading-none;
    font-size: 1.2em;
  }

  font-family: theme('fontFamily.ui');

  // ---------- Modifiers

  &--block {
    @apply tw-flex tw-flex-1;
  }

  &--full-width {
    @apply tw-flex tw-w-full;
  }

  &--uppercase {
    @apply tw-uppercase;
  }

  // ----- Variants

  @apply tw-text-white tw-font-semibold tw-rounded-sm tw-cursor-pointer tw-inline-block tw-align-middle tw-no-underline tw-text-center tw-outline-none;
  &:before {
    @apply tw-rounded-sm;
  }

  color: var(
    --color
  ) !important; // TODO: Remove `!important` after fixing MVC styles
  background-color: var(--bg);
  border: var(--border-size) solid var(--bg);

  transition: color 0.2s ease-out, background-color 0.2s ease-out,
    border-color 0.2s ease-out;

  &:not(.#{$blockName}--disabled):not(.#{$blockName}--loading):not(.#{$blockName}--hover):not(.#{$blockName}--active):hover,
  &.#{$blockName}--hover {
    background-color: var(--bg-hover);
    border-color: var(--bg-hover);
  }

  @include button-variants('default', 'neutral');
  @include button-variants(
    'default-light',
    theme('colors.neutral.200') theme('colors.neutral.100')
      theme('colors.neutral.300') theme('colors.neutral.400')
      theme('colors.neutral.700')
  );
  @include button-variants('primary', 'primary');
  @include button-variants('primary-light', 'primary');
  @include button-variants('secondary', 'secondary');

  // contextual variants
  @include button-variants('danger', 'danger');
  @include button-variants('warning', 'warn');
  @include button-variants('success', 'success');
  @include button-variants('deluxe', 'deluxe');

  // special variants
  @include button-variants('amazon', $amazon-shades);
  @include button-variants('paypal', $paypal-shades);

  // secondary button (orange) needs a darker alt color for the barberpole
  &--secondary {
    --bg-alt: theme('colors.secondary.600');
  }

  // danger button should have a darker shade for the hover and alt colors
  &--danger {
    --bg-hover: theme('colors.danger.900');
    --bg-alt: theme('colors.danger.700');
  }

  &--white {
    --bg: theme('colors.white');
    --bg-hover: theme('colors.neutral.50');
    --bg-active: theme('colors.neutral.100');
    --color: theme('colors.black');
    --border-color: theme('colors.black');

    @apply tw-shadow-xl;
  }

  &--primary-light {
    --bg: theme('colors.primary.200');
    --bg-hover: theme('colors.primary.50');
    --bg-active: theme('colors.primary.300');
    --bg-alt: theme('colors.primary.300');
    --color: theme('colors.primary.700');
    --color-hover: theme('colors.primary.800');
    --border-color: theme('colors.primary.700');

    &-outline,
    &-plain {
      --color: theme('colors.primary.700');
      --color-hover: theme('colors.primary.800');
    }

    &-outline {
      --border-color: theme('colors.primary.700');
    }

    &-link {
      --color: theme('colors.primary.700');
      --color-hover: theme('colors.primary.800');
    }
  }

  &--primary-dark {
    --bg: theme('colors.primary.600');
    --bg-hover: theme('colors.primary.700');
    --bg-active: theme('colors.primary.400');
    --bg-alt: theme('colors.primary.700');
    --border-color: theme('colors.primary.600');
    --color: theme('colors.white');
    --color-hover: theme('colors.white');

    &-outline {
      --color: theme('colors.primary.700');
      --color-hover: theme('colors.primary.800');
      --border-color: theme('colors.primary.700');
    }

    &-plain {
      --color: theme('colors.primary.700');
      --color-hover: theme('colors.primary.800');
    }

    &-link {
      --color: theme('colors.primary.700');
      --color-hover: theme('colors.primary.800');
    }
  }

  &--primary-vdark {
    --bg: theme('colors.primary.700');
    --bg-hover: theme('colors.primary.800');
    --bg-active: theme('colors.primary.500');
    --bg-alt: theme('colors.primary.800');
    --border-color: theme('colors.primary.700');
    --color: theme('colors.white');
    --color-hover: theme('colors.white');

    &-outline {
      --color: theme('colors.primary.800');
      --color-hover: theme('colors.primary.900');
      --border-color: theme('colors.primary.800');
    }

    &-plain {
      --color: theme('colors.primary.800');
      --color-hover: theme('colors.primary.900');
    }

    &-link {
      --color: theme('colors.primary.800');
      --color-hover: theme('colors.primary.900');
    }
  }

  &--primary-inverted {
    --bg: theme('colors.white');
    --bg-hover: theme('colors.primary.50');
  }

  &--deluxe-outline {
    --bg: theme('colors.white');
    --bg-hover: theme('colors.warn.50');
    --color: theme('colors.warn.800');
    --color-hover: theme('colors.warn.700');
    --border-color: theme('colors.warn.800');
  }

  &--deluxe {
    --bg: theme('colors.warn.800');
    --bg-hover: theme('colors.warn.900');
    --color: theme('colors.white');
    --color-hover: theme('colors.white');
    --border-color: theme('colors.warn.800');
    --border-color-hover: theme('colors.warn.800');
  }

  &:focus {
    @apply tw-outline-none;
  }

  &--focus {
    @include gik-focus-shadow(6px);
  }

  &--disabled {
    @apply tw-cursor-not-allowed gik-disabled;
  }

  &--loading {
    @apply tw-cursor-default;
    @extend .effect-barberpole;
  }

  // ----- Sizes

  @apply tw-text-base tw-px-3 tw-h-40p tw-inline-flex tw-items-center tw-justify-center;

  &--size-xs {
    @apply tw-text-xs tw-px-2 tw-h-20p;
    --border-size: 1px;

    > span.#{$blockName}__content ~ * {
      @apply tw-ml-1;
    }

    > * ~ span.#{$blockName}__content {
      @apply tw-ml-1;
    }
  }

  &--size-sm {
    @apply tw-text-sm tw-px-2 tw-h-30p;
    --border-size: 1px;

    > span.#{$blockName}__content ~ * {
      @apply tw-ml-1;
    }

    > * ~ span.#{$blockName}__content {
      @apply tw-ml-1;
    }
  }

  &--size-lg {
    @apply tw-text-lg tw-px-3 tw-h-50p;
  }

  &--size-xl {
    @apply tw-text-xl tw-px-6 tw-h-60p;
  }

  // ----- Shapes

  &--squared {
    @apply tw-rounded-none;
    &:before {
      @apply tw-rounded-none;
    }
  }

  &--rounded {
    @apply tw-rounded;
    &:before {
      @apply tw-rounded;
    }
  }

  &--pill {
    @apply tw-rounded-full;
    &:before {
      @apply tw-rounded-full;
    }
  }

  &--circle {
    @apply gik-circular tw-inline-flex tw-items-center tw-justify-center tw-p-0;

    &:before {
      @apply gik-circular;
    }

    &.#{$blockName}--size-xs {
      @apply tw-w-20p tw-h-20p tw-text-xs;
      .ui-fonticon {
        // padding-left: 2px;
        // padding-top: 2px;
      }
    }
    &.#{$blockName}--size-sm {
      @apply tw-w-30p tw-h-30p tw-text-base;
      .ui-fonticon {
        // padding-left: 2px;
        // padding-top: 1px;
      }
    }
    &.#{$blockName}--size-base {
      @apply tw-w-40p tw-h-40p tw-text-2xl;
      .ui-fonticon {
        // padding-left: 1px;
        // padding-top: 3px;
      }
    }
    &.#{$blockName}--size-lg {
      @apply tw-w-50p tw-h-50p tw-text-3xl;
      .ui-fonticon {
        // padding-right: 0px;
        // padding-top: 5px;
      }
    }
    &.#{$blockName}--size-xl {
      @apply tw-w-60p tw-h-60p tw-text-4xl;
      .ui-fonticon {
        // padding-right: 1px;
        // padding-top: 3px;
      }
    }
  }

  &--wide {
    @apply tw-px-10;
  }
}
