@mixin custom-scrollbars {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: theme('colors.primary.100');
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: theme('colors.primary.500');
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
  }
}
