/* FIXME: remove all - all layout should be in the app-ui package (currently @gik/ui/gik) */
.#{$tw-prefix}app-layout {
  @apply tw-h-screen tw-flex tw-flex-col;
}

.#{$tw-prefix}app-header {
  @apply tw-fixed tw-top-0 tw-left-0 tw-w-screen tw-bg-lgray-100 tw-z-40;
  height: var(--desktop-header-height);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  > .tw-container {
    @apply tw-h-full;
  }

  &-brand {
    @apply tw-flex tw-items-center tw-cursor-pointer tw-p-4;
    padding-left: 0;
    /*svg {
      width: 159px;
      height: 46px;
    }*/
  }

  a {
    font-size: 17px;
    color: #46656c;
    font-weight: 400;
  }
}

.#{$tw-prefix}app-main {
  @apply tw-flex-1;
  padding-top: var(--desktop-header-height);
}

.#{$tw-prefix}btn-header-nav {
  @apply tw-text-lgray-800 tw-uppercase tw-text-lg tw-h-full tw-bg-primary-500 tw-block;
}

ul.#{$tw-prefix}app-header-sidenav {
  @apply tw-flex tw-justify-between tw-items-center tw-h-full;

  > li {
    > a {
      @apply tw-flex tw-items-center tw-uppercase;
    }
    .#{$tw-prefix}button--default-link {
      &:hover {
        @apply tw-text-primary-500;
      }
    }
  }
}

ul.#{$tw-prefix}app-header-nav {
  @apply tw-flex tw-justify-between tw-items-center tw-h-full tw-font-ui;
  margin-left: 90px;

  > li {
    @apply tw-h-full;
    > a {
      @apply tw-flex tw-items-center tw-uppercase tw-h-full;
      transition: color 0.2s ease-out, background-color 0.2s ease-out, border-color 0.2s ease-out;
      padding: 30px 20px;

      &:hover {
        @apply tw-bg-primary-500 tw-text-white;
      }
    }
  }
}
