// TODO: remove me when i'm no longer used in the blog and ads features
$v2-colors: (
  text-primary: #46656c,
  // closest: neutral-800
    text-secondary: #8fb3b4,
  // closest: neutral-600
    text-small-heading: #3b4142,
  // match: neutral-900
    text-secondary-2: #98b9ba,
  // closest: neutral-600
    text-card: #70888d,
  // closest: neutral-700
    tab-title: #70888d,
  text-light: #9eabad,
  text-dark: #7f8b8d,
  primary: #41cbce,
  primary-44: #41cbce44,
  primary-99: #41cbce99,
  primary-dark: #35a7a9,
  // equals: primary-600
    link: #41cbce,
  special: #ff9e5a,
  special-2: #e88d32,
  border: #ced6d6,
  border-2: #e1ecec,
  border-3: #e7f1f2,
  background-light: #e7f1f2,
  border-3-99: #e7f1f299,
  heart: #ef5c84,
  // equals: heart
    danger: #ef5c84,
  // equals: danger-500
    warn: #c49900,
  // closest: warn-700
    success: #8fbb6a,
  special-notes: #a97b82,
  special-notes-light: #ffeff6,
  border-selected: #41cbcedd,
  border-shadow-selected: #41cbceaa,
  cancel: #cccccc,
  cancel-dark: #aeb3b3,
  placeholder: #46656c77,
  share: #8fb3b4,
  small-icon: #9fbfc1,
  disabled: rgba(70, 101, 108, 0.5),
  copy: #eff3f3,
  copy-dark: #7f8b8d,
  white: white,
  radio-ring: #bcc7c8,
  light-blue: #e2feff,
  another-blue: #c3fdff,
);
$blog-colors: $v2-colors;
