// ----- Headings

.#{$gik-prefix}h1 {
  @apply gik-heading tw-text-6xl tw-mt-4 tw-mb-4;
}

h1 {
  @apply #{$gik-prefix}h1;
}

.#{$gik-prefix}h2 {
  @apply gik-heading tw-text-4xl tw-mt-3 tw-mb-4;
}

h2 {
  @apply #{$gik-prefix}h2;
}

.#{$gik-prefix}h3 {
  @apply gik-heading tw-text-2xl tw-mt-4 tw-mb-4;
}

h3 {
  @apply #{$gik-prefix}h3;
}

.#{$gik-prefix}h4 {
  @apply gik-heading tw-text-xl tw-mt-2 tw-mb-2;
}

h4 {
  @apply #{$gik-prefix}h4;
}

.#{$gik-prefix}h5 {
  @apply gik-heading tw-text-lg tw-mt-2 tw-mb-2;
}

h5 {
  @apply #{$gik-prefix}h5;
}

.#{$gik-prefix}h6 {
  @apply gik-heading tw-mt-2 tw-mb-2;
}

h6 {
  @apply #{$gik-prefix}h6;
}
