// this prefix is used to prefix css classes
$tw-prefix: 'tw-';
$gik-prefix: 'gik-';

:root {
  --desktop-header-height: theme('app.desktopHeaderHeight');
  --mobile-header-height: theme('app.mobileHeaderHeight');
}
