// default autofill utility class
.#{$gik-prefix}autofill {
  @apply tw-bg-blue-50 tw-text-black #{!important};
  font-size: 1rem;
  -webkit-text-fill-color: theme('colors.black');
  -webkit-box-shadow: 0 0 0px 1000px theme('colors.blue.50') inset;
  transition: background-color 5000s ease-in-out 0s;

  &::first-line {
    font-size: 1rem;
  }
}

// make sure password managers autofill styles also look consistent
input[data-com-onepassword-filled='light'],
select[data-com-onepassword-filled='light'] {
  @apply gik-autofill;
}

// TODO override other passwords managers' styles (at least LastPass and Dashlane?)
