// ---- Pixel Size classes

$pixel-sizes: (
  '5p': 5px,
  '10p': 10px,
  '20p': 20px,
  '30p': 30px,
  '40p': 40px,
  '50p': 50px,
  '60p': 60px,
  '70p': 70px,
);

@each $name, $size in $pixel-sizes {
  .tw-w-#{$name} {
    width: $size;
  }
  .tw-h-#{$name} {
    height: $size;
  }

  .tw-m-#{$name} {
    margin: $size;
  }
  .tw-p-#{$name} {
    padding: $size;
  }

  .tw-pb-#{$name} {
    padding-bottom: $size;
  }
  .tw-py-#{$name} {
    padding-bottom: $size;
    padding-top: $size;
  }
  .tw-px-#{$name} {
    padding-left: $size;
    padding-right: $size;
  }

  .tw-rounded-#{$name} {
    border-radius: $size;
  }
}
