.sb-stage {
  > main {
    @apply tw-border tw-border-gray-500 tw-border-dashed tw-p-2 tw-mb-4;
  }

  > header {
    @apply tw-bg-lgray-200 tw-border tw-border-gray-500 tw-border-dashed tw-p-1 tw-inline-block tw-border-b-0;
  }
}

.sb-grid-cell-header {
  @apply tw-flex tw-items-center tw-justify-center tw-uppercase tw-text-gray-100 tw-font-bold;

  &--left {
    @apply tw-justify-end;
  }
  &--right {
    @apply tw-justify-start;
  }
}
