body {
  // these settings mimic the body styles of the mvc app
  word-break: break-word;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  box-sizing: border-box;
}

pre {
  @apply p-2 px-3;
  background: #1e1e1e;
}

.form-group {
  > label {
    @apply tw-inline-block tw-w-32;
  }
}

.sb-grid-datalist {
  @apply tw-grid tw-grid-cols-2 tw-gap-4 tw-mb-4;
  grid-template-columns: auto minmax(100px, 1fr);
}

.sb-content {
  hr {
    margin: 1em 0;
  }

  a {
    @apply tw-text-primary-500 tw-underline;
  }
}

// global styling on p tags.
// this should be consistent accros all apps
p {
  @apply tw-my-2;
}

// prism code blocks should not add any margins
pre[class*='language-'] {
  margin: 0;
  padding: 10px !important;
}

.sb-fullbody {
  @apply tw--m-4;
  height: 100vh;
}

.sb-gradient-preview {
  @apply tw-text-center;
  &__bg {
    @apply tw-flex tw-items-center tw-justify-center tw-p-4 tw-w-40 tw-h-40 tw-rounded-md;
  }

  &__label {
    @apply tw-uppercase tw-mt-2 tw-block tw-font-bold;
  }
}
