.sb-svg-icon-viewer {
  @apply tw-flex tw-flex-wrap gik-flex-grid;
}

.sb-svg-icon-preview {
  @apply tw-flex tw-flex-col;
  width: 120px;
  min-height: 120px;
  cursor: pointer;

  > main {
    @apply tw-border tw-border-gray-500 tw-p-2 tw-flex-1 tw-flex tw-items-center tw-justify-center;
  }

  > footer {
    @apply tw-border tw-border-gray-500 tw-text-xs tw-text-center tw-bg-lgray-500 tw-truncate tw-pt-1 tw-px-2;
    border-top: none;
  }
}
