.addon-notes-container table tr {
  background: none !important;
}
.addon-notes-container table thead tr {
  background: #666 !important;
}

.sb-button {
  border: 1px solid white;
  padding: 4px 8px;
  display: inline-block;
  margin-bottom: 10px;
}

.sb-button-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sb-panel {
  padding: 1rem;
}

a {
  cursor: pointer;
}
