/**
Styles to be used inside the preview panel of storybook
*/

body {
  /* font-family: 'Open+Sans', sans-serif; */
  /* font-size: 14px; */
}

/* * {
  box-sizing: border-box;
} */

#root {
  /* margin: 10px; */
}

body {
  /* margin: 15px; */
  /* margin: 0; */
}


